<h1>Add Product</h1>

<form method="post">
    <div class="mb-3">
        <label for="pwd" class="form-label">Product Name:</label>
        <input type="text" class="form-control" name="productName">
    </div>

    <label for="category">Category:</label>
    <select id="category" name="Category">
        <option value="Electronics">Electronics</option>
        <option value="Books">Books</option>
        <option value="Clothes">Clothes</option>
    </select>

    <button class="btn btn-primary">Add</button>
</form>